<%- include("header") -%>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium perspiciatis expedita commodi voluptatem reprehenderit sit culpa dignissimos et, possimus at voluptas voluptatum sunt saepe rerum repudiandae quidem harum inventore sapiente?</h1>

<%- include("footer") -%>